body {
    font-family: Arial, sans-serif;
    background-image: url('dreamy-background.jpg'); /* Replace 'dreamy-background.jpg' with your actual background image file */
    background-size: cover;
    background-position: center;
    text-align: center;
    margin: 0;
    color: #fff; /* Set text color to white or a light color for better visibility */
    height: 100vh; /* Make the body take up the entire viewport height */
}

h1 {  
    font-family: "Arial", sans-serif; 
    font-size: 2.5em; 
    color: #333; 
    text-align: center; 
    text-transform: uppercase; 
    letter-spacing: 2px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  
}

button {  
    font-family: "Garamond", serif; 
    font-size: 1.2em;
    color: black; 
    background-color: #FFCCFF; 
    padding: 15px 25px; 
    border: none; 
    border-radius: 20px;
    cursor: pointer; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    transition: all 0.3s ease; 
  }
button:hover {  
    background-color: #FF99FF;
    transform: scale(1.05); 
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2); 
}

p {
    color: #333;
}

#loveMessage {
    font-size: 18px;
    color: #000000;
    margin-top: 20px;
}

#heart {
    color: #e74c3c;
    font-size: 48px;
    text-align: center;
    animation: pulse 1.5s infinite;
}

#heart:hover {
    cursor: pointer;
}

@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

nav {
    background-color: black;
    overflow: hidden;
}

nav a {
    float: left;
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #555;
}
